* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, Verdana;
}

/* SECTIONS */

section {
    width: 100%;

    /* aliniere verticala */
    display: flex;
    justify-content: center;
    align-items: center;
}

section[id="one"] {
    height: 69vh;
}

section[id="two"] {
    height: 23vh;
}

div.container0 {
    margin: auto;
    width: 60vw;

    /* aliniere orizontala */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container0[id="one"]{
    color: white;
    text-align : center;
}

div.container0[id="one"] > h1 {
    font-size: 64px;
}

div.container0[id="two"] {
    color: #351E29;
    text-align : center;
}

/* NAVBAR */

header {
    width: 100%;
    height: 8vh;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.links {
    float: left;
}

.sites {
    float: right;
}

.links > a, .sites > a{
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.links:first-child {
    margin-left: 20px;
}

.sites:last-child {
    margin-right: 20px;
}

.links > a:hover, .sites > a:hover{
    color: #351E29;
    background-color: white;
}

